
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>

    <div class="cart-container">
        <div class = "heading">
            <h1>SOPHER</h1>
        </div>
        <div class = "Definition">
            <div class = "definition1">whats included? aimbot, esp, infinite money, autofarm, duping etc. 
                why pay money you may ask? free scripts usually contain malware to profit, however my scripts earn money through direct payments. Email: bloxy.cool@gmail.</div>
        </div>
        <div class = "checkout">
            <form action="/checkout" method="post">
                <button class="checkout-btn">5.99 Roblox Scripts</button>
            </form>
        </div>
    
        <div class = "container">
            <div class = "box"><strong>Dahood</strong></div>
            <div class = "box">Rivals</div>
            <div class = "box">Sailor piece</div>
            <div class = "box">MM2</div>
            <div class = "box">Dress To Impress</div>
            <div class = "box">Steal a brainrot</div>
            <div class = "box">Adopt Me</div>
            <div class = "box">BloxFruits</div>
            <div class = "box">99 nights in a forest</div>
            <div class = "box">Fish it </div>
        </div>
    
    </div>

</body>
</html>