<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <style>
        body{
            background-color: white;
            background: linear-gradient(270deg, #0a0015, #1a0033, #000000);
            background-size: 600% 600%;
        }
        h1{ 
            text-align:center;  
            color: rgb(65, 65, 255);
        }
        .container{
            display:flex;
            align-items:flex-end;
            justify-content:center;
            gap:20px;
            height: 40vh;
            
        }
        .container2{
            display:flex;
            align-items:center;
            justify-content:center;
            gap:20px;
            height:10vh
        }
        .box{
            background-color: rgb(73, 53, 255);
            color:rgb(0, 0, 179);
            height: 70px;
            width: 140px;
            display:flex;
            gap:90px;
            flex-wrap:wrap;
            justify-content:center;
            align-items:center;
            border: 3px solid rgb(5, 4, 88);
            border-radius:10px; 
            font-weight: bold;
        }
        .Download{
            background-color: rgb(19, 165, 116);
            height: 70px;
            width: 140px;
            display:flex;
            gap:90px;
            flex-wrap:wrap;
            justify-content:center;
            align-items:center;
            border: 3px solid rgb(37, 0, 0);
            border-radius:10px;
            font-weight: bold;
        } 
        .Download:hover{
            transform:scale(1.1);
        }
        .download1{
            text-decoration:none;
        }
     
    
    </style>
<body>
    <header>
        <h1>Scripts</h1>
    </header>
    <div class = "container">
        <div class = "box"><strong>Dahood</strong></div>
        <div class = "box">Rivals</div>
        <div class = "box">Sailor piece</div>
        <div class = "box">MM2</div>
        <div class = "box">Dress To Impress</div>
        <div class = "box">Steal a brainrot</div>
        <div class = "box">Adopt Me</div>
        <div class = "box">BloxFruits</div>
        <div class = "box">99 nights in a forest</div>
        <div class = "box">Fish it </div>
    </div>
    <div class = "container2">
        <a class ="download1"href = "scripts.pdf" download>
            <button class = "Download">DOWNLOAD</button>
        </a>
    </div>
    
</body>
</html>